################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MyStaging/bin/Debug/netcoreapp1.1
/MyStaging.App/bin/Debug/netcoreapp1.1
/MyStaging.App/bin/Debug/netcoreapp1.1
/MyStaging.App/obj
/MyStaging.App/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MyStaging.App/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MyStaging.App/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MyStaging.App/obj/Debug/netcoreapp1.1/MyStaging.App.pdb
/MyStaging.App/obj/Debug/netcoreapp1.1/MyStaging.App.dll
/MyStaging.App/obj/Debug/netcoreapp1.1/MyStaging.App.csprojResolveAssemblyReference.cache
/MyStaging.App/obj/Debug/netcoreapp1.1/MyStaging.App.csproj.FileListAbsolute.txt
/MyStaging.App/obj/Debug/netcoreapp1.1/MyStaging.App.AssemblyInfo.cs
/MyStaging.App/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
/MyStaging/obj/Debug/netcoreapp1.1
/MyStaging/obj
/MyStaging/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
/MyStaging.App/bin/Debug/netcoreapp2.0
/MyStaging/bin/Debug/netcoreapp2.0
/.vs/MyStaging/v15/sqlite3
/.vs/MyStaging/v15/Server/sqlite3
*.dtbcache
/MyStaging.xUnitTest/bin/Debug
/MyStaging.xUnitTest/obj
/MyStaging.xUnitTest.db/obj
/MyStaging.xUnitTest.db/bin/Debug/netcoreapp2.0
/MyStaging/bin/Debug/netstandard2.0
/MyStaging/bin/Debug/MyStaging.1.0.1.nupkg
*.nupkg
/WebApplication1/bin/Debug/netcoreapp2.2
/WebApplication1/obj/Debug/netcoreapp2.2
/WebApplication1/obj
/.vs/config
/.vs/Kong.Net/v15
/examples/Kong.Example/bin/Debug/netcoreapp2.2
/examples/Kong.Example/obj
/src/Kong/bin/Debug/netstandard2.0
/src/Kong/obj
/src/Kong.Extensions/bin/Debug/netstandard2.0
/src/Kong.Extensions/obj
/test/Kong.XUnitTest/bin/Debug/netcoreapp2.2
/test/Kong.XUnitTest/obj
/.vs/Kong.Net/v16
/examples/Kong.Example/bin/Debug/netcoreapp3.1
/src/Kong/bin/Debug/netstandard2.1
/src/Kong.Extensions/bin/Debug/netstandard2.1
/test/Kong.XUnitTest/bin/Debug/netcoreapp3.1
